<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CXYAudioPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FEB5569D1C3DFAE800FCFA43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEB556B61C3DFAE800FCFA43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEB556C11C3DFAE800FCFA43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
